body {
    background-color: #222;
    color: #AAA;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, input, label {
     font-family: 'Open Sans', sans-serif;
     font-weight: normal;
}

.board .row {
	margin-bottom: 10px;
}

button.Waiting {
	animation-direction: normal;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
    animation-name: waiting-blink;
    animation-timing-function: ease;   

	-webkit-animation-direction: normal;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: waiting-blink;
    -webkit-animation-timing-function: ease;   
}

@keyframes 'waiting-blink' {
    0% { background: rgba(0,0,0,0); }
    50% { background: green; }
    100% { background: rgba(0,0,0,0); }
}

@-webkit-keyframes 'waiting-blink' {
    0% { background: rgba(0,0,0,0); }
    50% { background: green; }
    100% { background: rgba(0,0,0,0); }
}

button.Playing {
	background-color: green;
}

button.SampleLoaded {
	background-color: orange;
}

button.Disabled {
	background-color: gray;
}

