    <div class="row">
    	<div class="col-md-4">
            <h3>
    		  Web version of novation launchpad
            </h3>
            <form role="form" ng-hide="midiError">

                <div class="form-group">
                    <label for="midiOutput">MIDI Input</label>
                    <select class="form-control" name="midiInput" ng-model="midiInput" ng-options="item for item in midiInputs" ng-change="midiSettingChanged()"></select>
                </div>

                <div class="form-group">
                    <label for="midiOutput">MIDI Output</label>
                    <select class="form-control" name="midiOutput" ng-model="midiOutput" ng-options="item for item in midiOutputs" ng-change="midiSettingChanged()"></select>
                </div>
            </form>

            <div ng-show="midiError">
                <div class="alert alert-danger"><strong>Cannot init MIDI</strong></div>

                Please install (or reinstall) <a href="http://jazz-soft.net/download/Jazz-Plugin/">Jazz-Plugin</a>, restart your browser and refresh this page. Don't forget to connect your Novation Launchpad!  
            </div>

            
    	</div>
    	<div class="col-md-8 board">
        
        <div class="row">
            <div class="col-md-8">        
                <div class="progress" ng-hide="progress == 100">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{progress}}" 
                         aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%">
                        <span class="sr-only">{{progress}}% Complete</span>
                    </div>
                </div>
            </div>
        </div>      

         <div class="row" ng-repeat="row in board.buttons.rows">
            <div ng-class="['col-md-1 col-sm-1 col-xs-1', button.state]" ng-repeat="button in row.buttons">
                <button ng-class="['btn', button.state]" ng-click="button.click()">
                    <span>&nbsp;</span>
                </button>
            </div>

           <!--  <div class="col-md-2 col-md-offset-1">
                <button  ng-class="['btn', row.state]" ng-click="row.click()"><span class="glyphicon glyphicon-play"></span></button>
            </div> -->

        </div>

        <div class="row">
        </div>

        <div class="row">            
            <div class="col-md-1 col-sm-1 col-xs-1" ng-repeat="col in board.buttons.columns">                  
                <input type="text" slider class="span2" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="50" data-slider-orientation="vertical" data-slider-selection="after"data-slider-tooltip="show" data-slider-reversed="true" ng-model="col.volume" ng-change="col.volumeChanged()">
            </div>
             
        </div> 

    </div>

</div>